@charset "UTF-8";

body{
	background-color: #eee;
}

.card-form{
	width: 25em; 
	margin: 10px auto;
}

.hotel-list-detail {
    flex: 1 1 0;
}

.hotel-list-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
}